@model JiraApplication.Models.Comments


<div class="mainCommentsDiv">
    <div>
    @foreach (var comment in Model.AllComments)
    {
        <div>
            <div class="commentTitle">
                <a><i class="bi-person-circle"></i></a>
                <label>@comment.CreatedBy - @comment.CreatedDate.ToString("MM/dd/yyyy hh:mm:ss tt")</label>
            </div>
            <p>@comment.CommentText</p>
        </div>
    }
    </div>
</div>
